<section ng-controller="ExampleController">
<div data-ng-show="!authentication.user">
<a href="/signup">Signup</a>
<a href="/signin">Signin</a><br><br>
<!--
	<a class="cloudsponge-launch" data-cloudsponge-source="gmail">Gmail</a>
	<input type="textarea" class="cloudsponge-contacts"/>
	<textarea class="cloudsponge-contacts"></textarea>-->

</div>
<div data-ng-show="authentication.user">
<h1>Hello <span data-ng-bind="authentication.user.fullName"></
span></h1>
<a href="/signout">Signout</a>
<ul>
<li><a href="/#!/articles">List Articles</a></li>
<li><a href="/#!/articles/create">Create Article</a></li>
</ul>
</div>
</section>

<div class="container-fluid" ng-app="cloudspongeApp" data-ng-show="!authentication.user">
    <div class="row">
      <div class="col-md-12">
        <!-- Any link with a class="cs_import" will start the import process -->
        <a class="cs_import btn btn-default">Add from Address Book</a>
      </div>
    </div>

    <div class="row">
      <div id="ContactListCtrl" ng-controller="ContactListCtrl">

        <div ng-if="contacts.length>0">
          <div class="col-md-6">
            <h3>Selected Contacts</h3>
            <ul class="unstyled">
              <li ng-repeat="contact in contacts">
                {{contact.fullName()}} &lt;{{contact.selectedEmail()}}&gt;
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div ng-if="fullAddressbook.length>0">
            <h3>All Imported Contacts</h3>
            <ul class="unstyled">
              <li ng-repeat="contact in fullAddressbook">
                {{contact.fullName()}}
                <span ng-if="contact.primaryEmail().length>0">
                  &lt;{{contact.primaryEmail()}}&gt;
                </span>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
